html, body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}  

input, textarea, button, select, label, div, p{
    font-family: "Montserrat", sans-serif;
}

main{
    background-image: url(assets/1_o8tTGo3vsocTKnCUyz0wHA.jpeg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    height: 100vh;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 60px;
}

main img{
    width: 100%;
}

#input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input-container div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputs{
    width: 80%;
    padding: 20px;
    margin-top: 25px;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
}

#date-input{
    display: none;
}

#buttons-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#buttons-container button{
    margin-top: 70px;
    border-radius: 2px;
    padding: 15px;
    width: 35%;
    font-size: 20px;
}

#cancel-button{
    border: none;
    border-bottom: 2px solid #dfac06; 
    background-color: transparent;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}
#cancel-button:hover{
    border-bottom: 2px solid #c29503; 
    background-color:#c29503;
}

#send-button{
    border: none; 
    border-bottom: 2px solid #075174;
    background-color: #075174;
    transition: all 0.3s ease-in-out;
    color: #ffffff;
}
#send-button:hover{
    border-bottom: 2px solid #06354b;
    background-color: #06354b;
}

/**inline errors**/

.hidden{
    display: none;
}

.gender-container {
    display: none!important;
}
.error-message{
    color: white;
    font-size: 14px;
    margin: 5px 0 0 0;
}

.show-error{
    border: 2px solid #a7300c  !important ;
}

.background{
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.767);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: Montserrat, 'sans-serif';
    font-size: 16px;
    font-weight: 500;
}
.background.hidden{
    display: none !important;
}

.gif{
    width: 75px;
}

@media (min-width: 700px){
    #input-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    .name-date-container {
        box-sizing: border-box;
        width: 80%!important;
        flex-direction: row!important;
        justify-content: space-between!important;
    }
    .name-inputs-div{
        width: 37% !important;
        border: none;
        border-radius: 2px;
        box-sizing: border-box;
    }
    .name-inputs-div input{
        width: 100%;
    }
    .gender-container {
        display: flex!important;
        color: #ffffff;
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        align-items: flex-start!important;
        padding-left: 10%;
    }

    #radio-buttons label{
        margin-left: 30px;
    }

    #date-input{
        width: 22%;
        display: block;
        padding: 20px;
        margin-top: 25px;
        border: none;
        border-radius: 2px;
        height: 55px;
        box-sizing: border-box;
    }

    #input-container #country-container-div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 30px;
        width: 80%;
        box-sizing: border-box;
    }

    #country{
        display: block;
        width: 45%;
        border: none;
        border-radius: 2px;
        height: 55px;
        box-sizing: border-box;
    }

    #input-container #phone-container{
        width: 53%;
    }

    #input-container #phone-container #phone-input{
        margin: 0;
        box-sizing: border-box;
        width: 100%;
    }

    #input-container #radio-buttons{
        display: flex;
        flex-direction: row;
        width: auto;
    }

    #buttons-container{
        justify-content: flex-end;
    }


    #buttons-container button{
        width: 200px;
        margin-right: 50px;
    }

    #buttons-container #send-button{
        margin-right: 100px;
    }
    .background{
        font-size: 34px;
    }
}



